<div class="card">
  <h3>{{ postItem.title | uppercase }}</h3>
  <!-- <h5>Title description, Dec 7, 2017</h5> -->
  <img [src]="postItem.imagePath" [alt]="postItem.title" class="fakeimg img-fluid" *ngIf="!isOfficeflag" />
  <p style="margin-top: 0.5rem">{{ postItem.content }}</p>
  <div *ngIf="isAuthenticated && loggedInUserId===postItem.userId">
    <button class="btn btn-outline-dark" (click)="onEditItem(postItem.id)" >Edit</button>&nbsp;
    <button class="btn btn-outline-danger" (click)="onDeleteItem(postItem.id)" >Delete</button>
  </div>
</div>
